.header-toolbar {
  --background: linear-gradient(135deg, #0599d3, #1e3a8a);
  --color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clima-toolbar {
  --background: #2d9cdb;
  color: white;
  padding: 0 10px;
  font-size: 14px;
}

.clima-toolbar ion-icon {
  font-size: 20px;
  margin-right: 8px;
  color: white;
}

.clima-toolbar p {
  margin: 0;
  font-weight: bold;
  color: white;
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.header-logo {
  height: 60px;
  margin-right: 40px;
}

.welcome-card{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

@keyframes animarFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.asistencia-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  background: linear-gradient(270deg, #15b8ce, #0599d3, #1fa387, #1a9bce, #806db3);
  background-size: 400% 400%;
  animation: animarFondo 15s ease infinite;
}

.loading-spinner {
  position: absolute;
  top: 55%;
  left: 44%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 10px auto;
}
.loading-container {
  display: flex;
  align-items: center;
}
.loading-message {
  margin-top: 50px;
}

.logout{
  background-color: red;
  color: white;
  border-radius: 20px;
}

.logout:hover{
  background-color: darkred;
}

.asistencias-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 12px;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #eaeaea;
  }
}

.table-container {
  max-height: 300px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}
